
.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:5px solid #BBB;
    padding:0px;
    margin:0 auto;
    margin-bottom: 15px;
    width:400px;
    overflow:hidden;
    text-align:center;
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

.smallcard{
	background:#FFF;
    border:1px solid #AAA;
    border-bottom:0px;
    padding:0px;
    margin-bottom: 4px;
    width:400px;
    overflow:hidden;
	
}

#rightColumn,
#leftColumn {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

body {
    padding-top: 10px;
}


.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail h1 {
    text-align:center;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.half {
    position:relative;
}
half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}
