<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Movie Recommender</title>
<link type="text/css" rel="stylesheet" href="static/style.css"></link>
<script type="text/javascript" src="static/jquery-1.12.3.js"></script>
<script type="text/javascript" src="static/main.js"></script>
</head>
<body onload="getData();">

	<script>
		function statusChangeCallback(response) {
			if (response.status === 'connected') {
				// Logged into your app and Facebook.
				FB.api('/me', 'get', {
					fields : 'id,name,gender,email'
				}, function(response){
					console.log(response);
					handleUserLogin(response);
				});
			} else {
				// The person is not logged into Facebook, so we're not sure if
				// they are logged into this app or not.
				document.getElementById('status').innerHTML = 'Please log '
						+ 'into Facebook.';
			}
		}

		function checkLoginState() {
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
		}

		window.fbAsyncInit = function() {
			FB.init({
				appId : '121574618250077',
				xfbml : true,
				version : 'v2.5'
			});
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response)
			});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>


	<div id=mainPage>
		<div id=movieInfo class=card>
			<h1 id="movieDetails"></h1>
			<div id="movieGenre"></div>
			<div id=ratingButton>
				<input type="radio" name="rating" value="1">1 <input
					type="radio" name="rating" value="2">2 <input type="radio"
					name="rating" value="3">3 <input type="radio" name="rating"
					value="4">4 <input type="radio" name="rating" value="5">5
			</div>
			<button id="submitButton">Submit Rating</button>

			<button id="skipButton">Skip</button>
			<button id="checkButton">Checkout</button>
		</div>
		<div style="margin: 0 auto; width: 100px; padding-bottom: 20px;">
			<fb:login-button scope="public_profile,email"
				onlogin="checkLoginState();">
			</fb:login-button>
			<div id="status"></div>
		</div>
		<div id=leftColumn>
			<div id=oldRatings class=card>
				<h1>Old ratings</h1>
			</div>
		</div>
		<div id=leftColumn>
			<div id=visitorRatings class=card>
				<h1>Visitor Ratings</h1>
			</div>
			<div id=recommendations class=card>
				<h1>Recommendations</h1>
				<div class=smallcard>No recommendations yet</div>
			</div>
		</div>
	</div>


</body>
</html>